.header {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-logo {
  padding-left: 50px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 300ms ease;
  position: relative;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #757575;
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
