.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: 0px 0px 7px 5px rgb(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0px 0px 7px 5px rgb(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0px 0px 7px 5px rgb(255, 255, 255, 0.2) inset;
  border-radius: 30px;
  transition: background-color 300ms ease;
  color: white;
}

.btn:hover,
.btn:focus {
  background-color: white;
  color: black;
}

.bottom-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
