.container {
  width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1px solid red;
}

.container-content {
  width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1px dashed red;
}
